body, #sidebar { background-color: #371b37; }
#body {
	background-color: #f8f6f4;
	z-index: 0; /* without this the .watermark z-index would place them behind #body's bgcolor */
}

#header-wrapper {
	background: transparent;
	border-bottom: none;
}

code {
	background: white;
}

.searchbox {
	background: transparent;
	border-color: #aaa;
}

.btn-wide {
	width: 100%;
}


/* raquo-style lists */
section#body ul {
	list-style-type: none;
	padding: 0;
}
section#body li { padding-left: 1.3em; }
section#body li:before {
	content: "\00bb";
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
}

/* footer */

section#footer li a {
	padding: 0.2em 0.4em;
	display: inline-block;
}

/* watermarks */
.watermark {
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: 20px;
	text-align: center;
	z-index: -9999;
	color: rgba(255,255,255,0.8);
	font-size: 128px;
}
.summary {
	min-height: 200px;
	padding-bottom: 2em;
}
